.ham{
  width: 25px;
  height: 25px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 11px;
  top: 0;
}

.ham span{
   
  width: 100%;
  height: 3px;
  display: block;
  background-color: #2e2c2c;
}
.ham span:nth-child(1){
   
}
.ham span:nth-child(2){
   
}
.ham span:nth-child(3){
   
}