header {
  width: 100%;
  padding: 30px 0;
}
header .wrap {
  height: 100px;
  align-items: center;
  display: block;
  margin: 0 30px;
  position: relative;
}
header .wrap h1 {
  
}
header .wrap h1 a {
  font-size: 0;
  display: block;
  width: 188px;
  height: 33px;
  background-image: url(../img/logo.png);
  margin-left: 50px;
}
header .menu{
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
}
header .wrap ul.gnb {
  
  grid-column: 1;
  grid-row: 1 / span 3;
}
header .wrap ul.gnb li {
  
}
header .wrap ul.gnb li a {
  display: block;
  line-height: 100px;
  padding: 0 50px;
  font-size: 18px;
  color: black;
}
header .wrap .sublist {
  
  display: none;
}
header .wrap .sublist div {
  
}
header .wrap .sublist div h2 {
  
}
header .wrap .sublist div ul.useguide {
  
}
header .wrap .sublist div ul.useguide li {
  
}
header .wrap .sublist div ul.useguide li a {
  
}
header .wrap span.lang {
  grid-column: 2;
  grid-row: 2;
  /*! display: block; */
  margin-top: 12px;
}
header .wrap span.lang a {
  display: block;
  color: black;
  line-height: 2;
  padding: 0 20px;
}
header .wrap span.lang a:nth-child(2){
  display: none;
}
header .wrap span.lang a::before{
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  background-image: url(../img/lang.png);
  background-size: contain;
  vertical-align: -2px;
  margin-right: 7px;
}
header .wrap span.lang a::after{
  content: "";
  width: 8px;
  height: 8px;
  display: inline-block;
  background-image: url(../img/lang_arrow.png);
  background-size: contain;
  vertical-align: 2px;
  margin-left: 7px;
}










